@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Cabin&family=DM+Sans:opsz,wght@9..40,300&family=Dancing+Script:wght@700&family=Pixelify+Sans&family=Roboto+Condensed&family=Roboto+Slab&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1b1d1f;
  font-family: "Be Vietnam Pro", sans-serif;
  padding-bottom: 100px;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #282b30;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #6c727f;
    border-radius: 100vh;
    border: 2px solid #6c727f;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(56, 56, 56);
  }
}
